<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SWEscuelaPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7101/ServidorEscuela-ServidorEscuela-context-root/SWEscuelaPort"
                binding="basicHttpBinding" bindingConfiguration="SWEscuelaPortBinding"
                contract="EscuelaCliente.SWEscuela" name="SWEscuelaPort" />
        </client>
    </system.serviceModel>
</configuration>